@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}
<h2>Lab Student Tracker Help</h2>
<br />
<p>The Lab Student Tracker is a program that instructors can use to schedule labs that students will sign in and out of. This program will track the times of
    these students and document the information for later use. An instructor can add/remove students, courses and labs. Below are the different navigation
    tools used in this program explained in further detail.</p><br />
<h3>Instructor Page</h3>
<p>The Instructor page (Instructor on the navigation bar) is your personal dashboard to edit your profile, assign courses to your profile, add/create students,
    schedule labs, show your details and delete your profile. Click an icon to perform these tasks.</p><br />
<h3>Students Page</h3>
<p>The Students page (Students on the navigation bar) lists all of the students currently in the program. 
    From this page you can edit students, show student details (courses and labs), delete students, 
    and assign courses and labs to students. You can also add/create new students from this page.</p><br />
<h3>Courses Page</h3>
<p>The Courses page (Courses on the navigation bar) lists all of the courses currently assigned to you. Here you can edit, delete, show course details, 
    and enroll students in courses. If you need to assign additional courses to your profile, please navigate to your Instructor page to do so.</p><br />
<h3>Labs Page</h3>
<p>The Labs page (Labs on the navigation bar) lists all of the labs that you have scheduled. You can edit, delete, enroll students, show lab details, and
    launch a lab from this page. When you launch a lab, a pop-up screen will occur for students to sign in and out of the lab. (NOTE: once you launch a lab,
    you cannot navigate back to your profile. You must click the "End Lab" button, which will sign you out of the lab and send you to the login page where
    you can sign back in to your profile.)</p><br />
<h3>Dashboard Page</h3>
<p>The Dashboard page (Dashboard on the navigation bar) lists all of the instructors, their assigned courses with students enrolled in thoses courses, 
    and the labs scheduled by those instructors, with the students enrolled in those labs. This is a "read-only" page and you cannot edit any information.
    If you need to edit a lab, course, or student enrollment, please navigate back to your Instructor page to do so.</p>


